Repository algebraicdb/algebraicdb, pull requests merged in 2020-03, with the labels that each got.

#58 Move pattern matching to WHERE
  src/ast.rs
  src/executor/dbms.rs
  src/grammar.lalrpop
  src/pattern.rs
  src/table/cell.rs
  src/table/iter.rs
  src/table/mod.rs
  src/table/pattern_iter.rs
  src/table/row.rs
  src/typechecker.rs
  test_queries/2/input
  test_queries/5/input
  test_queries/5/output
  test_queries/6/input
  test_queries/6/output
Labels: enhancement, executor, grammar, refactor, typechecker

#60 Char as a primitive type
  src/grammar.lalrpop
  src/pattern.rs
  src/table/cell.rs
  src/typechecker.rs
  src/types.rs
  test_queries/5/output
  test_queries/6/output
  test_queries/7/input
  test_queries/7/output
Labels: enhancement, grammar, pls_merge, tests

#61 Add grammar to support inserting from a select-statement
  src/ast.rs
  src/executor/dbms.rs
  src/grammar.lalrpop
  src/main.rs
  src/pre_typechecker.rs
  src/typechecker.rs
  test_queries/6/output
Labels: enhancement, grammar, typechecker

#67 Cleanup everything referring to the wrapper implementation
  Cargo.toml
  docker-compose.yml
  src/executor/mod.rs
  src/executor/wrapper.rs
  src/lib.rs
  src/local/mod.rs
  src/psqlwrapper/mapping.rs
  src/psqlwrapper/mod.rs
  src/psqlwrapper/translator/insert.rs
  src/psqlwrapper/translator/mod.rs
  src/psqlwrapper/translator/translator.rs
  src/psqlwrapper/wrapper.rs
Labels: pls_merge, this pr is very red

#68 lock ci nightly version
  .github/workflows/rust.yml
Labels: pls_merge

#69 Add basic CLI client project
  Cargo.lock
  Cargo.toml
  adbcat/Cargo.lock
  adbcat/Cargo.toml
  adbcat/src/main.rs
  adbcat/src/tokenizer.rs
Labels: enhancement, pls_merge

#63 [WIP] Refactor dbms executor
  src/executor/dbms/iter.rs
  src/executor/dbms/mod.rs
  src/table/mod.rs
  src/table/schema.rs
  src/typechecker.rs
  test_queries/8/input
  test_queries/8/output
Labels: enhancement, executor, refactor

#74 Benchmarking setup
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  benches/executor_benchmark.rs
  benches/integration_tests_benchmark.rs
  benches/parsing_benchmark.rs
  src/executor/dbms/iter.rs
  src/executor/dbms/mod.rs
  src/executor/mod.rs
  src/lib.rs
  src/local/mod.rs
  src/local/types.rs
  src/types.rs
  test_queries/8/input
Labels: pls_merge

#66 Comments
  Cargo.lock
  Cargo.toml
  src/ast.rs
  src/client.rs
  src/grammar.lalrpop
  test_queries/1/input
  test_queries/2/input
  test_queries/3/input
  test_queries/4/input
  test_queries/5/input
  test_queries/6/input
  test_queries/6/output
  test_queries/7/input
  test_queries/8/input
  test_queries/9/input
  test_queries/9/output
Labels: enhancement, grammar

#73 Implement resolving expressions in queries
  benches/executor_benchmark.rs
  src/executor/dbms/iter.rs
  src/executor/dbms/mod.rs
  src/table/cell.rs
  src/types.rs
  test_queries/10/input
  test_queries/10/output
Labels: enhancement, executor, pls_merge
