Repository algebraicdb/algebraicdb, pull requests merged in 2020-04, with the labels that each got.

#75 Remove all instances of string cloning in parser
  benches/executor_benchmark.rs
  benches/parsing_benchmark.rs
  src/ast.rs
  src/executor/dbms/iter.rs
  src/executor/dbms/mod.rs
  src/grammar.lalrpop
  src/pattern.rs
  src/pre_typechecker.rs
  src/table/mod.rs
  src/typechecker.rs
  src/types.rs
Labels: grammar, refactor

#79 integration test benchmarks in group, decrease sample amount of integ…
  benches/integration_tests_benchmark.rs
Labels: pls_merge

#80 [WIP] Persistent storage
  .gitignore
  Cargo.lock
  Cargo.toml
  benches/integration_tests_benchmark.rs
  src/api/config.rs
  src/api/custom.rs
  src/api/mod.rs
  src/api/tcp_api.rs
  src/ast.rs
  src/client.rs
  src/executor/dbms/iter.rs
  src/executor/dbms/mod.rs
  src/lib.rs
  src/local/dbms_state.rs
  src/local/mod.rs
  src/local/tests.rs
  src/local/types.rs
  src/main.rs
  src/pattern.rs
  src/persistence/manager.rs
  src/persistence/mod.rs
  src/persistence/read.rs
  src/persistence/wal.rs
  src/persistence/write.rs
  src/table/mod.rs
  src/table/schema.rs
  src/types.rs
  src/util/mod.rs
  src/util/timing.rs
  tests/test_example_queries.rs
Labels: pls_merge

#78 Add pretty error messages
  algebraicdb/src/ast/mod.rs
  algebraicdb/src/ast/pattern.rs
  algebraicdb/src/ast/span.rs
  algebraicdb/src/client.rs
  algebraicdb/src/error_message.rs
  algebraicdb/src/executor/dbms/iter.rs
  algebraicdb/src/executor/dbms/mod.rs
  algebraicdb/src/grammar.lalrpop
  algebraicdb/src/lib.rs
  algebraicdb/src/typechecker.rs
  algebraicdb/src/util/mod.rs
  algebraicdb/src/util/str.rs
  algebraicdb/test_queries/1/output
  algebraicdb/test_queries/10/output
  algebraicdb/test_queries/11/input
  algebraicdb/test_queries/11/output
  algebraicdb/test_queries/2/output
  algebraicdb/test_queries/4/output
  algebraicdb/test_queries/5/output
  algebraicdb/test_queries/6/output
  benches/integration_tests_benchmark.rs
  benches/parsing_benchmark.rs
Labels: enhancement, executor, grammar, pls_merge, typechecker

#86 Wal improvements
  .github/workflows/rust.yml
  Cargo.lock
  algebraicdb/Cargo.toml
  algebraicdb/src/api/config.rs
  algebraicdb/src/api/tcp_api.rs
  algebraicdb/src/client.rs
  algebraicdb/src/executor/dbms/mod.rs
  algebraicdb/src/lib.rs
  algebraicdb/src/local/dbms_state.rs
  algebraicdb/src/main.rs
  algebraicdb/src/persistence/manager.rs
  algebraicdb/src/persistence/mod.rs
  algebraicdb/src/persistence/read.rs
  algebraicdb/src/persistence/wal.rs
  algebraicdb/src/persistence/write.rs
  algebraicdb/src/pre_typechecker.rs
  algebraicdb/src/state/dbms.rs
  algebraicdb/src/state/mod.rs
  algebraicdb/src/state/tests.rs
  algebraicdb/src/state/types.rs
  algebraicdb/src/table/mod.rs
  algebraicdb/src/typechecker.rs
  algebraicdb/src/util/mod.rs
  algebraicdb/src/util/num_bytes.rs
  algebraicdb/test_queries/1/output
  algebraicdb/test_queries/10/output
  algebraicdb/test_queries/11/output
  algebraicdb/test_queries/12/input
  algebraicdb/test_queries/12/output
  algebraicdb/test_queries/2/output
  algebraicdb/test_queries/3/output
  algebraicdb/test_queries/4/output
  algebraicdb/test_queries/5/output
  algebraicdb/test_queries/6/output
  algebraicdb/test_queries/7/output
  algebraicdb/test_queries/8/output
  benches/executor_benchmark.rs
Labels: enhancement, persistence, pls_merge, wal

#88 Tps benchmarks, uds server, stmtparser fix and a whole bunch of other stuff.
  Cargo.lock
  Cargo.toml
  algebraicdb/Cargo.toml
  algebraicdb/src/api/custom.rs
  algebraicdb/src/api/mod.rs
  algebraicdb/src/api/tcp_api.rs
  algebraicdb/src/api/uds_api.rs
  algebraicdb/src/client.rs
  algebraicdb/src/executor/dbms/mod.rs
  algebraicdb/src/lib.rs
  algebraicdb/src/main.rs
  algebraicdb/src/persistence/manager.rs
  algebraicdb/src/persistence/read.rs
  algebraicdb/src/persistence/wal.rs
  algebraicdb/src/persistence/write.rs
  algebraicdb/src/state/dbms.rs
  benches/Cargo.toml
  benches/executor_benchmark.rs
  benches/integration_tests_benchmark.rs
  benches/pgbench_benchmark.rs
  benches/src/lib.rs
  benches/src/runtime.rs
  benches/src/tps/mod.rs
  benches/src/tps/simplebench.rs
  channel_stream/Cargo.toml
  channel_stream/src/lib.rs
Labels: benchmarking, pls_merge

#90 Fix bug when a where clause depended on another
  algebraicdb/src/executor/dbms/iter.rs
  algebraicdb/src/executor/dbms/mod.rs
Labels: bug, executor, pls_merge

#91 Uds adbcat
  adbcat/Cargo.toml
  adbcat/src/main.rs
Labels: pls_merge
